label#stars{
  font-size:17px;
}
label#stars{
  color: orange;
}
#stars{
	padding: 0px;
	margin: 0px;
}
td.fecha{
	font-size: 17px;
  color:black;
  font-family: 'Patua One', cursive;
}
th.col-blue{
  background: #033A61;
  color: white;
}
h3.color-negro{
  color: black;
  font-family: 'Patua One', cursive;
  font-family: 'Baloo Tammudu', cursive;
}
p.color-negro{
  color: black;
  font-family: 'Patua One', cursive;
  font-family: 'Baloo Tammudu', cursive;
}
div p.tcultura{
  font-size: 1.3em;
  text-align: center;
  color: white;
}

div.container .mar-opa{
  -webkit-box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.5);
}

/*Estilo de las targetas
.contenedorr {
  height: 300px;
  width: 0px;
  -webkit-perspective: 700;
}

.carta {
  height: 100%;
  width: 100%;
  transition: all 1s;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 5px black;
}

.carta:hover{
  transform: rotateY(180deg);
}

.lado{
  position: absolute;
  height: 100%;
  width: 100%;
   background:#6a9c78;;
  backface-visibility: hidden;
}

.frente{ background-color:white; }
 h3.frente{
   position: absolute;
   font-size: 38px;
   color:black;
   font-family: "Times New Roman", Times, serif;
   margin: 200px 0px 0 70px;
}

img.icon{ 
  height: 50%; width: 50%;
  margin-left: 20%;
  margin-right: 15%;
  margin-top:10%; 
}
ul.list {
  padding: 0;
  margin:0;
  list-style: none;
  height: 204px;
  
}

li.orde {
  text-decoration: none;
  padding: 10px;
  z-index:80;
}


.atras{
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
}

.atras h3 {
  display: block;
  text-align: center;
  margin: 10px 0;
}
audio{
  width: 90%;
}
video{
  position: relative;
  width:270px; 
  height:130px;
}
*/